 /*  Margin and Padding Reset */

* {
    margin: 0;
    padding: 0;
}

 /*   Font Styles */

p, ul, a, h3, h4{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
h1{
    font-family: 'Baloo 2', 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 1em;
    font-weight: 100;
     /* font-size: 5em; */
} 
h2{
    font-family: 'Fauna One', serif;
    font-size: 36px;
    line-height: 1.8em;
     /* font-size: 2.2em; */
}
h3{
    font-size: 24px;
    line-height: 1.6em;
}
h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .03em;
}
p, a{
    font-size: 20px;
    line-height: 1.3em;
}
nav{
    padding: 30px 60px;
    float: right;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: blue;
}
nav a:visited{
    color: blue;
}
.content a{
    color: whitesmoke;
}
footer p{
    font-size: 14px;
}

 /*  Header */

header{
 /*    background-color: white; */
    position: fixed;
    top: 0;
    z-index: 1;
}

 /*  Navigation */

.navigation{
    width: 100%;
}
.inline-block{
    display: inline-block;
}
/* 
.logo{
    width: 14%;
}
.logo img{
    width: 180px;
}
nav{
    width: 85%;
}
*/

ul{
    float: right;
}
li.inline-block {
    margin: 0px 40px;
}
li.inline-block:hover {
    border-bottom: 2px solid blue;
    margin: 0px 40px;
}
li.inline-block:last-child {
    margin-right: 0px;
}

 /* Universal Styles */

section{
    padding: 40px 60px;
}
.sectionHeader{
    width: 100%;
}

 /* Hero Section */

.heroImg{
    background: 
        linear-gradient(
        rgba(220, 14, 87, 0.25), 
        rgba(35, 149, 211, 0.25)
        ),
        url("https://picsum.photos/id/366/1080/580.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    height: 560px;
    color: whitesmoke;
    background-color: black;
    }
.content{
    width: 60%;
    opacity: 1;
}
.button {
    padding: 15px 0px;
    display: block;
}

/* My Work Section */

.myWork{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.caseStudyCard{
    flex-grow: 1;
    flex-basis: 448px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexGrid {
	position: relative;
}

.flexGrid figure {
	position: relative;
	float: left;
	overflow: hidden;
	background: black;
	text-align: center;
	cursor: pointer;
}

.flexGrid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.flexGrid figure figcaption {
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flexGrid figure figcaption::before,
.flexGrid figure figcaption::after {
	pointer-events: none;
}

.flexGrid figure figcaption,
.flexGrid figure figcaption a {
/* 	position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a{
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.flexGrid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}


.flexGrid figure h2,
.flexGrid figure p {
	margin: 0;
}

/* Gallery Effects */

figure.effect img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    height: 100%;
    width: 100%;
} 

figure.effect figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	width: 86%;
	height: 60%;
}

figure.effect h2,
figure.effect p,
figure.effect a{
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect p,
figure.effect a{
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect:hover img,
figure.effect:hover p,
figure.effect:hover a{
	opacity: 1;
}

figure.effect:hover h2,
figure.effect:hover p,
figure.effect:hover a{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect:hover p,
figure.effect:hover a{
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/* About Me Section */

.flexboxContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.skillsColumn{
    flex-basis: 25%;
}

 /* Footer Section */

footer{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer img{
    width: 180px;
}
.copyRight{
    text-align: right;
    font-size: 14px;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 4em;
    }
    section{
        padding: 20px;
    }
    .content{
        width: 100%;
    }
    .flexboxContainer{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 50em) {
	.flexGrid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
    }
}