 /*  Margin and Padding Reset */

* {
    margin: 0;
    padding: 0;
}

 /*   Font Styles */

p, ul, a, h3, h4{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
h1{
    font-family: 'Baloo 2', 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 1em;
    font-weight: 100;
     /* font-size: 5em; */
} 
h2{
    font-family: 'Fauna One', serif;
    font-size: 36px;
    line-height: 1.8em;
     /* font-size: 2.2em; */
}
h3{
    font-size: 24px;
    line-height: 1.6em;
}
h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .03em;
}
p, a{
    font-size: 20px;
    line-height: 1.3em;
}

.navbar-brand img{
    width: 40px;
}
section{
    border: 1px solid red;
}
.px{
    padding-left: 45px;
    padding-right: 45px;
}
.goal{
    padding: 60px;
}
.goal h2{
    line-height: 1em;
}
.goal img{
    width: 100%;
}



 /* Footer Section */
footer p{
    font-size: 14px;
}

footer{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer img{
    width: 180px;
}
.copyRight{
    text-align: right;
    font-size: 14px;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 4em;
    }
    section{
        padding: 20px;
    }
    .content{
        width: 100%;
    }
    .flexboxContainer{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 50em) {
	.flexGrid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
    }
}